.nav {
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	bottom: 0;
	z-index: 10;
	width: 80%;
	height: 30px;
	border-radius: 50px;
	margin: 0 auto;
	background-color: royalblue;
	transform: translateX(-50%);
	left: 50%;
}

.nav__link {
	margin: 0 5px;
}
