.nav--mobile {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 80%;
  height: 30px;
  border-radius: 50px;
  margin: 0 auto;
  background-color: var(--blue-5);
  transform: translateX(-50%);
  left: 50%;
  border: solid 1px var(--gray-7);
}

.nav--desktop {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  width: 8%;
  height: 100vh;
  background: linear-gradient(0deg, var(--blue-2) 0%, var(--blue-1) 100%);
  border: solid 1px var(--gray-7);
  transform: none;
  z-index: 10;
  gap: 25px;
  overflow: hidden;
}

.nav__tool-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  border-radius: 10px;
}

.nav__tool-icon {
  padding: 0.3rem;
  border-radius: 10px;
}

.nav__tool-icon-flag {
  width: 30px;
  height: 30px;
}

.nav__tool-icon:hover {
  background-color: var(--gray-8);
}

.nav__section1--desktop,
.nav__section2--desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav__section1--desktop {
  border: var(--blue-11) solid 1px;
  border-radius: 10px;
  text-align: center;
}

.nav__section2--desktop {
  border: var(--blue-11) solid 1px;
  border-radius: 10px;
  padding: 1rem;
  gap: 25px;
}

.nav__link--mobile {
  display: inline-block;
  border-radius: 10px;
  padding: 4px;
}

.nav__link--desktop {
  width: 100%;
  text-decoration: none;
  color: var(--gray-12);
  font-weight: bold;
  padding: 1rem 0px;
  transition: background-color 0.5s ease;
}

.nav__link2--desktop:hover {
  color: var(--gray-12);
}

.nav__link2--desktop {
  text-decoration: none;
  color: var(--blue-11);
  font-weight: bold;
}

@media (max-width: 1024px) {
  .nav__tool-section {
    margin-top: 0;
  }
}

@media (min-width: 1024px) and (max-width: 1400px) {
  .nav--desktop {
    width: 11%;
  }
}
